# Rate of Return, Mean and Variance

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import quandl
quandl.ApiConfig.api_key = 'nsqaaHBqkWMWVvYEH9-9'

In [6]:
rate_return = 102./100-1
rate_return

0.020000000000000018

In [9]:
aapl_table = quandl.get('WIKI/AAPL')
aapl = pd.DataFrame(aapl_table.loc['2017-3',['Open', 'Close']])

In [13]:
aapl['log_price'] = np.log(aapl.Close)
aapl['log_return'] = aapl['log_price'].diff()

In [14]:
aapl.head()

               Open   Close  log_price  log_return
Date
2017-03-01  137.890  139.79   4.940141         NaN
2017-03-02  140.000  138.96   4.934186   -0.005955
2017-03-03  138.780  139.78   4.940070    0.005884
2017-03-06  139.365  139.34   4.936917   -0.003153
2017-03-07  139.060  139.52   4.938208    0.001291

In [16]:
month_return = aapl.log_return.sum()
month_return

0.0273081001636184

In [17]:
month_var = np.var(aapl.log_price)
month_var

0.00014203280448152512

In [18]:
month_std = np.std(aapl.log_price)
month_std

0.011917751653794651